#main-header {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 400px;
  background-color: #dc9cfa;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  width: 100%;
  flex-flow: column wrap;
}

img {
  justify-content: center;
  height: 40%;
}
.bottomHeader {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  text-shadow: #ff00c3 3px 3px 3px;
}