nav {
  z-index: 100;
  background-color: #f1c4f8;
  color: #dc9cfa;
  width: 100%;
  position: fixed;
  height: 120px;
  padding: 1.5em;
  display: flex;
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: space-between;
  top: 0;
 }
span {
  font-family: 'Bungee', cursive;
}
.navbarRight {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrows-in-nav {
  color: #ff00c3; 
 }








