nav {
  z-index: 100;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  flex: 1;
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
 }

.navbarLeft {
  font-family: 'Bungee', cursive;
}


.navbarTopRight {
  flex-wrap: wrap;
  display: flex;
  flex-grow: 1;
  align-self: flex-start;
}

.navbarBottomRight {
 color: #ff0000;
 padding-left: 75px;
}

