article {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 8px double #f4d5ffaa;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  height: auto;
  padding: 1em;
 
} 
.top-of-tweets {
  align-content: flex-start;
  width: 90%;
  font-weight: bold;
  text-transform: uppercase;
}

.handle {
  font-size: 12px;
  font-weight: norlal;
  color: #5d3865;
  font-family: 'Source Sans Pro', sans-serif;
}
.tweet-content {
  width: 90%;
  border-bottom: 10px ridge #f8d9f9;
  padding: 1em;
  font-size: 20px;
}
.bottom-of-tweets {
  width: 100%;
}

.leftbottom-of-tweets {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin-left: 3em;
}
.rightbottom-of-tweets {
  justify-content: flex-end;
  float: right;
  margin-right: 1em;
}
#report:hover {
  color: #ff00c3;
  text-decoration: bold;
}
#retweet:hover {
  color: #ff00c3;
  text-decoration: bold;
}
#like:hover {
  color: #ff00c3;
  text-decoration: bold;
}
article:hover {
  box-shadow: #ff00c36e 5px 5px 5px 5px;
} 

/*
resources:
https://www.codegrepper.com/code-examples/html/css+on+hover
*/